framework: netstandard2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4.3 lowest_matching:true

group NetClassic
  framework: net45
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core ~> 4.0 lowest_matching:true